$color-pink: #FF5757;
$color-pink-light: #FDF0EE;
$color-black: #151515;
$color-black-light:#393939;
$color-black-blue: #101C3D;
$color-gray: #81838C;
$color-pink-red:#D42F2F;
img{
    max-width: 100%;
}